#!/usr/bin/env zsh


#Python Aliases
#alias pip=pip3
alias python=python3
alias pip="python -m pip"
alias freeze="pip freeze > requirements.txt"
alias requirements="pip install -r requirements.txt"

#Terminal Aliases
alias rename=mv
alias create=touch
alias reload="source ~/.zshrc"

# Sudofix (fixes aliases not being able to run when using sudo)
alias sudo='sudo '


# Version Control
alias gs="git status"
alias ga="git add ."
alias gp="git push -u origin master"

alias gb='git branch '
alias gc='git commit'
alias gd='git diff'
alias go='git checkout '
alias gk='gitk --all&'
alias gx='gitx --all'
alias gh='git hist '

alias got='git '
alias get='git '